{% set page_title = "About" %}
{% extends "base.html" %}
{% block content %}
<div class="row">
	<div class="col-lg-10">
		<div class="text-center">
			<br><br>
			<div class="text-center">
				<a href="https://github.com/vghorakavi/InfectiousBlockchain" target="_blank">
					<img src="assets/github.png" height="60" width="60">
				</a>
			</div>
			<br><br>

			<h4 class="text-center mx-5">This website was created by Group 7 (Infectious Blockchain) for the Hackseq 2018
				competition.</h4>

			<a href="https://www.hackseq.com/" target="_blank">
				<img src="assets/hackseq.png" class="hackseq" height="200" width="200">
			</a>

			<a href="home.html" target="_blank">
				<img src="assets/ifc.png" class="hackseq" height="200" width="200">
			</a>
		</div>
	</div>

	<div class="col-lg-2">
		<h2 class="text-center">How it works</h2>
		<br>
		<img src="assets/ifc_diagram.png" class="poster">
	</div>
</div>
{% endblock %}