{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block content %}
<form method="POST" action="{{ url_for('login') }}" class="container col-12 col-sm-8 col-md-6 col-lg-4">
    {{ form.hidden_tag() }}
    <div class="form-group">
        {{ form.username.label }}
        {{ form.username(size=32) }}
    </div>
    <div class="form-group">
        {{ form.password.label }}
        {{ form.password(size=32) }}
    </div>
    <div class="form-group">{{ form.submit() }}</div>
    <div class="form-group">New User? <a href="{{ url_for('register') }}">Click to Register!</a></div>
</form>
{% endblock %}