body {
  background-color: lightgray;
  max-width: 100vw;
}

form input {
  width: 200px;
}

img {
  border-radius: 5px;
}

.jumbotron-wrapper {
  background-image: url("/assets/map.png");
  background-size: cover;
  height: 760px;
}

.jumbotron {
  display: flex;
  align-items: center;

  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
}

.jumbotron h1 {
  color: white;
  text-shadow: 0 3px 5px rgba(0, 0, 0, 0.4);
  margin: 0 auto;
}

.map {
  width: 100%;
  border: 1px solid #bbb;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.mapouter {
  position: relative;
  text-align: right;
  width: 95vw;
  height: 95vh;
  margin: 20px auto;
}

.gmap_canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: none;
}

.hackseq {
  padding: 10px;
  background-color: #666666;
  border-radius: 5px;
}

.poster {
  position: relative;
  width: 100%;
  height: auto;
}
